* {
  outline: 0;
}

body, .ant-table, .ant-list {
  font-family: "Meiryo", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.white-bg {
  background-color: #fff !important;
}

.display-flex {
  display: flex;
}